<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карточки направлений (специальностей)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="filter-menu">
    <h3>Фильтры</h3>
    <div>
        <label for="filter-category">Факультет:</label>
        <select id="filter-category">
            <option value="all">Все</option>
            {% for facultative in facultative %}
                <option value="{{ facultative }}">{{ facultative }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label>Сортировка:</label>
        <div>
            <input type="radio" id="sort-title-asc" name="sort" value="score" checked>
            <label for="sort-title-asc">Баллы</label>
        </div>
        <div>
            <input type="radio" id="sort-title-desc" name="sort" value="price">
            <label for="sort-title-desc">Стоимость обучения</label>
        </div>
        <div>
            <input type="radio" id="sort-color-asc" name="sort" value="budget">
            <label for="sort-color-asc">Бюджетные места</label>
        </div>
        <div>
            <input type="radio" id="sort-color-desc" name="sort" value="popularity">
            <label for="sort-color-desc">Популярность</label>
        </div>
    </div>
    <button id="apply-filters">Применить</button>
</div>
<div class="search-bar-container">
    <input type="text" id="search-input" placeholder="Поиск по карточкам..." />
    <button id="search-button">Поиск</button>
</div>
<div class="scale-container">
    <div class="scale-values top">Макс. соответствие</div>
    <div class="scale-gradient">
        <div class="scroll-indicator" id="scroll-indicator"></div>
    </div>
    <div class="scale-values">
        <span>Макс. несоответствие</span>
    </div>
</div>
<div class="main-container">
    <div class="card-container">
        {% for data in data %}
        <div class="card" onclick="toggleCard(this)" data-description="{{ data.description|escape|replace('\\n', '<br>')|safe }}" data-title="{{ data.title|escape|replace('\\n', '<br>')|safe }}">
            <div class="card-title">{{ data.title|replace('\\n', '<br>')|safe }}</div>
            <div class="card-description"></div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
